@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  /* colors */
  --header-footer: #1c1c1c;
  --linear-color-1: #bebebe;
  --linear-color-2: #3a3a3a;
  --color-card: #605f5f;
  --color-body: #eeeeee;
  --color-btns: #363645;
  --hover-btns: #43435f;
  --color-btn-gg: #384536;
  --hover-btn-gg: #476642;
  /* text */
  --text-body: 1rem;
  --span-valor: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: var(--text-body);
  font-family: "Lato", sans-serif;
  color: var(--color-body);
}
html{
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--linear-color-1);
}

header {
  width: 100%;
  height: auto;
  background: var(--header-footer);
  padding: 1.2rem;
}

header h1 {
  color: var(--text-body);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

main {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.card-left {
  max-width: 500px;
  height: auto;
  padding: 50px;
  border-radius: 12px;
  background: var(--color-card);
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.regraValor {
  font-weight: 900;
}

.input-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.input-btn input {
  width: 100%;
  padding: 12px;
  color: #111111;
  font-size: var(--text-body);
  border: 1px solid var(--hover-btns);
  outline: none;
  border-radius: 6px;
  margin: 10px 0 0 0;
}

.input-btn button {
  width: 100%;
  padding: 12px 20px;
  background: var(--color-btns);
  border: none;
  outline: none;
  border-radius: 6px;
  margin: 10px 0 0 0;
}

.modo-uso h4,
.sobre-regra h4 {
  font-weight: 900;
  margin: 0 0 10px 0;
}

.modo-uso ol li {
  margin: 0 0 5px 20px;
  text-align: justify;
}

.sobre-regra {
  width: 100%;
}

.sobre-regra p {
  text-align: justify;
  text-indent: 1cm;
  margin: 0 0 20px 0;
}

.sobre-regra button {
  border: none;
  outline: none;

  background: var(--color-btns);
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.input-btn button:hover,
.sobre-regra button:hover {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: var(--hover-btns);
}

hr {
  border: 0.5px #ffffff30 groove;
  margin: 5px 0;
  width: 100%;
}

.card-right {
  max-width: 500px;
  height: auto;
  padding: 50px;
  border-radius: 12px;
  background: var(--color-card);
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease-in-out;
}

.despesas {
  width: 100%;
}

.despesas p {
  margin: 10px 0 0 0;
  font-size: 0.8rem;
  text-align: justify;
  text-indent: 1.25cm;
}

.tituloDespesa {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 11px 0;
}

.tituloDespesa h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
}

.tituloDespesa span {
  font-weight: 900;
  font-size: 1.1rem;
}

.area-btn {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area-btn button {
  width: 100%;
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.btn-limpar {
  width: 100%;
  background: var(--color-btns);
}

.btn-limpar:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: var(--hover-btns);
}

@media (min-width: 300px) and (max-width: 959px) {
  html {
    font-size: .8rem;
  }  
  body {
    height: auto;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px;
  }

  main {
    width: 100vw;
    flex-direction: column;
  }

  .card-left,
  .card-right {
    max-width: 400px;
    padding: 20px;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .regraValor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .input-btn {
    padding: 10px 0;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .input-btn input,
  .input-btn button {
    margin: 0 0 10px 0;
    width: 100%;
  }

  .modo-uso,
  .sobre-regra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sobre-regra button {
    width: 100%;
    padding: 10px 0;
  }
}

@media (min-width: 960px) and (max-width: 1440px) {
  .card-left,
  .card-right {
    max-width: 450px;
  }

  .input-btn input, .input-btn button{
    width: auto;
    justify-content: space-around;
    margin: auto;
  }
}
